# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Storage (실행 중 생성되는 데이터)
# =========================
storage/

# =========================
# SQLite
# =========================
*.db
*.sqlite3

# =========================
# VSCode
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# Database
storage/database/*.db